@model SmallRatings.Models.UserInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Profile</h1>
<hr />
@using (Html.BeginForm("Update", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
                <span class="text-danger">@TempData["UserCheck"]</span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Current Password")
                <input asp-for="Password" placeholder="Confirm Current Password to Update Profile!" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <span class="text-danger">@TempData["PasswordCheck"]</span>
            </div>
            <div class="form-group">
                @Html.Label("New Password")
                <input type="password" name="NewPass" placeholder="" class="form-control" />
                <span class="text-danger">@TempData["NewPass"]</span>
            </div>
            <div class="form-group">
                @Html.Label("Confirm New Password")
                <input type="password" name="ConfirmNewPass" placeholder="" class="form-control" />
                <span class="text-danger">@TempData["NewPass"]</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}